.layout{
    display:flex;
}

.content{
    margin-left:260px;
    width:calc(100% - 260px);
    min-height:100vh;

    background:linear-gradient(135deg,#fbf8f3,#fbebd3, #f9e9c8
    );
}

.main{
    padding:0 30px 30px;
}


@media (max-width: 768px) {
    .content {
        margin-left: 75px;
        width: calc(100% - 75px);
    }
    .main {
        padding: 0 18px 20px;
    }
}

@media (max-width: 480px) {
    .content {
        margin-left: 65px;
        width: calc(100% - 65px);
    }
    .main {
        padding: 0 12px 15px;
    }
}